/******************************************************************
Site Name: Portal
Author: Carl Bennett <carlbennettnz@gmail.com>

Stylesheet: Buttons
******************************************************************/

@mixin button($color: $button-primary, $text-color: white) {
  font-family: $secondary-font;
  background-color: $color;
  color: $text-color;
  font-weight: normal;
  padding: 0.4em 0.8em;
  font-size: $root-font-size;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  width: auto;
  overflow: hidden;
  text-align: center;
  text-decoration: none;

  &[disabled] {
    background: $button-disabled;
    color: shade($button-disabled, 40%);
    pointer-events: none;
  }

  &:focus,
  &:hover {
    background-color: tint($color, 10%);
    color: $text-color;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  }

  &:active {
    background-color: shade($color, 30%);
    color: $text-color;
  }

  &.pull-right {
    text-align: center;
    margin-left: 0.5em;
  }

  &.subdued {
    background: transparent;
    color: $color;
    font-weight: normal;
    font-family: $copy-font;
    padding: 0;
    text-shadow: none;

    &:focus,
    &:hover {
      background-image: none;
      text-decoration: underline;
    }

    &:active {
      background-color: transparent;
      color: shade($color, 30%);
    }
  }
}

%button-base {
  @include button();
}

.button {
  @extend %button-base;

  &.add {
    @include button($button-green);
  }

  &.add:not(.subdued) {
    position: relative;
    padding-left: 30px;

    &::before {
      content: '+';
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 0;
      width: 32px;
      text-align: center;
      margin-top: -10px;
      line-height: 1;
    }
  }

  &.delete { @include button($button-red); }
  &.secondary { @include button($button-secondary); }
  &.plain {
    @include button($button-plain, tint($copy-color, 20%));
    box-shadow: inset 0 0 1px rgba(black, 0.2),
      inset 0 2px 0 rgba(white, 0.2),
      inset 0 -1px 0 rgba(black, 0.05),
      inset 0 1px 0 rgba(black, 0.05);

    &:hover {
      text-shadow: none;
    }

    &:active {
      background-color: shade($button-plain, 10%);
    }
  }
}

.button--save {
  @include button($button-green);
}

.button--cancel {
  @include button(#888);
}

// A button with a piece of status text
.status-button {
  text-align: center;

  .status {
    @extend .placeholder;
    font-size: 85%;
    margin: 0.3em 0;
  }
}


/******************************************************************

  Radio Toggle

******************************************************************/

.radio-wrapper {
  background-color: #f7f7f7;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  float: right;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-box {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: black;

  label {
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 0 15px;
    -webkit-transition: all 0.05s ease-in-out;
    -moz-transition: all 0.05s ease-in-out;
    -o-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
  }

  input[type="radio"]:checked + label {
    background-color: #37a;
    color: white;
  }
}

.field {
  visibility: hidden;
  display: none;
}
