.combo-box {
  border: 0 none;
  padding: 0;
  margin: 0;
  .select-box, .text-input {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.combo-box__drop-down {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  min-width: 200px;
  overflow-y: auto;
  border: 1px solid $whisp;
  border-radius: 2px;
  background-color: white;
  z-index: 1;
  box-shadow: 2.5px 2.5px 5px rgba(0,0,0,0.5);
}

.combo-box__search-icon {
  position: absolute;
  padding: 0.5em 0.75em;
}

input[name=combo-box__search-input] {
  padding-left: 2.2em;
}

.combo-box__drop-down__row {
  flex: 1;
  padding: 0.2em 0.4em;
  cursor: pointer;
  &.combo-box__drop-down__row--selected {
    background-color: rgba(0,0,0,0.075);
  }
  &.combo-box__drop-down__row--clear {
    @extend .link;
    border-bottom: 1px solid $whisp;
    &:hover {
      background-color: rgba(0,0,0,0.075);
    }
  }
  &.combo-box__drop-down__row--empty {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &.combo-box__drop-down__row--loading {
    padding: 1em;
    text-align: center;
    cursor: auto;
  }
}
