dl.horizontal {
  @include clearfix();

  dt {
    float: left;
    clear: left;
    width: 120px;
    text-align: right;
    margin-bottom: 0.3em;
  }

  dd {
    margin: 0 0 0.3em 120px + $gutter;
  }
}
