.date-picker {
  text-align: center;
  background-color: white;
  border: 1px solid $border-color;
  color: tint($copy-color, 20%);
  width: 234px;
  min-width: 234px;
  font-size: $font-size * 0.9;
}

.date-picker--stretched {
  width: 100%;
}

.date-picker__header {
  display: flex;
  border-bottom: 1px solid $border-color;
  background-color: shade($off-white, 4%);
  cursor: pointer;
  padding: 0 4px;

  &:hover {
    color: black;
  }
}

.date-picker__days-of-the-week {
  display: flex;
  padding: 4px 4px 3px;
  background-color: $off-white;
  color: $subdued;
  font-size: 80%;
  white-space: nowrap;
  text-transform: uppercase;
  border-bottom: 1px solid $border-color;
}

.date-picker__day-of-the-week {
  flex: 1;
}

.date-picker__selected-date {
  flex: 5;
  padding: 4px 0;
}

.date-picker__month-switch-button {
  flex: 1;
  padding: 4px 0;

  &:hover,
  &:active {
    text-decoration: none;
  }
}

.date-picker__calendar {
  display: flex;
  flex-direction: column;
  padding: 4px 0;
}

.date-picker__week {
  display: flex;
  justify-content: space-around;
  flex: 1;
  margin: -1px 0;
  padding: 0 4px;
  width: 100%;
  box-sizing: border-box;
}

.date-picker__day {
  flex: 0 0 auto;
  height: 28px;
  width: 28px;
  line-height: 28px;
  cursor: pointer;
  border-radius: 50%;

  &:hover:not(.date-picker__day--selected) {
    // background-color: tint($secondary, 80%);
    color: black;
  }
}

.date-picker__day--inactive-month {
  color: $subdued;
}

.date-picker__day--selected {
  font-weight: bold;
  background-color: $secondary;
  color: white;
  border-radius: 50%;
}

.date-picker__day--inactive-month.date-picker__day--selected {
  background-color: $subdued;
}
