.text-input {
  width: 200px;
  border: 1px solid #ccc;
  color: $copy-color;
  font-size: inherit;
  font-family: $copy-font;
  line-height: 1.4;
  padding: 0.5em 0.7em;

  &:focus {
    outline: none;
    border-color: shade($border-color, 25%);
  }

  &:hover {
    background-color: $off-white;
  }
}

.text-input--wide {
  width: 300px;
}

.tabular-form-controls {
  display: table;
  border-collapse: separate;
  border-spacing: 1em 0.5em;
  margin: -0.5em -1em;
}

.tabular-form-controls__row {
  display: table-row;
}

.tabular-form-controls__cell {
  display: table-cell;
  vertical-align: top;
}

.tabular-form-controls__cell--label {
  font-weight: bold;

  // To match text inputs
  line-height: 1.4;
  padding: 0.5em 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.select-box {
  font-size: inherit;
  height: 33px; // To sometimes match the height of text inputs
}

.select-box--fixed-width {
  width: 200px;
}

.select-box-replacement {
  border: 1px solid $border-color;
  background-color: $off-white;
  padding: 0.3em 0.8em;
  color: tint($copy-color, 20%);
  display: block;
  position: relative;

  &:hover {
    cursor: pointer;
    background-color: shade($off-white, 2%);
    border-color: shade($border-color, 5%);
    color: $copy-color;
  }

  &::after {
    content: '▾';
    float: right;
  }

  .select-box-replacement__select-box {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 0;
    margin: 0;
  }
}

.select-box-replacement--large {
  font-size: 16px;
  padding: 0.4em 0.8em;
}

.file-input-button__input {
  display: none;
}

.radio-button,
.checkbox {
  font-size: 16px;
  cursor: pointer;
}
