.info-popup {
  padding: 0;
  font-weight: normal;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0.5em 1em;
  cursor: help;
  color: tint($copy-color, 40%);
  font-size: $font-size;

  &:hover .info-popup__text {
    display: block;
  }
}

.info-popup__icon {
  transform: scale(1.2);
}

.info-popup__text {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  color: $copy-color;
  margin-top: 0.2em;
  margin-left: 0.2em;
  background-color: white;
  min-width: 180px;
  max-width: 220px;
  white-space: normal;
  // border: 1px solid $border-color;
  padding: 0.3em 0.6em;
  z-index: 100;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

