.ember-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;

  &.translucent {
    background-color: rgba($ptl-primary, 0.5);
    animation: fadeIn 0.25s;
  }
}

.ember-modal-dialog {
  // Prevent transform layout because https://github.com/yapplabs/ember-modal-dialog/issues/238
  transform: none!important;
  top: auto!important;
  left: auto!important;

  margin: 0 auto;
  z-index: 401;
  box-shadow: 0 2px 5px rgba(black, 0.3);
  animation: modalAppear 0.2s ease-in;

  @media (min-width: $breakpoint-desktop) {
    max-height: calc(100vh - 2 * #{$gutter-string});
    min-width: 500px;
  }

  @media (max-width: $breakpoint-desktop) {
    max-height: calc(85vh - 2 * #{$gutter-string});
    width: calc(100vw - 2 * #{$gutter-string});
  }
}

.ember-modal-dialog__scrollable {
  height: calc(100vh - 2 * #{$gutter-string});
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint-desktop) {
    height: calc(85vh * #{$gutter-string});
  }
}

.ember-modal-dialog__scrollable-window {
  flex: 1 0;
  position: relative;

  @media (min-width: $breakpoint-desktop) {
    margin: -$desktop-gutter;
  }
}

.ember-modal-dialog__scrollable-content {
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $desktop-gutter;
}

@keyframes modalAppear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
