/******************************************************************
Site Name: Portal
Author: Carl Bennett <carlbennettnz@gmail.com>

Stylesheet: Modules
******************************************************************/

%module {
  margin: $gutter 0;
  background: $off-white;
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: $gutter;

  > header, > footer, > aside {
    border-width: 1px;
    border-color: $border-color;
    background-color: shade($off-white, 3%);
    padding: $gutter;

    @include clearfix;

    h1 {
      font-size: 20px;
      margin: 0;
      float: left;
    }

    .pull-right:not(button) {
      color: tint($copy-color, 30%);
    }
  }

  > header {
    border-bottom-style: solid;
    margin: 0-$gutter 0-$gutter $gutter;

    form {
      margin: 0;
    }
  }

  > footer {
    border-top-style: solid;
    margin: $gutter 0-$gutter 0-$gutter;
  }

  > aside {
    // Can be on the left or right, so don't specific borders here
    margin: 0-$gutter 0 0-$gutter 0-$gutter;
  }

  > article {
    padding: $gutter;
  }

  > table {
    margin: (-$gutter) (-$gutter - 1px) (-$gutter - 1px);
    @include calc(width, "100% + 2 * #{$gutter} + 2px");

    th {
      border-top-width: 0;
    }
  }
}

.module {
  @extend %module;
}
