.module-navigation__section-heading {
  font-weight: normal;
  font-family: $heading-font;
  font-size: 18px;
  color: $ptl-nav-link-color;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 1;

  @media (min-width: $breakpoint-desktop) {
    border-bottom: 1px solid $ptl-border-color;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 0.3em;
    margin-top: 18px;
  }
}

.module-navigation__section:not(:first-of-type) {
  @media (min-width: $breakpoint-desktop) {
    margin-top: 2em;
  }
}

.module-navigation__list {
  list-style-type: none;
  margin: 0 $negative-gutter;
  padding: 0;

  @media (min-width: $breakpoint-desktop) {
    margin: 0 (-$desktop-gutter);
  }
}

.module-navigation__list-item {
  margin: 0;
  background-color: $off-white;
  border-top: 1px solid $ptl-border-color;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .fa {
    align-content: center;
    vertical-align: middle;
    height: auto;
    transition: all 0.25s ease-in-out;
  }

  &:last-of-type {
    border-bottom: 1px solid $ptl-border-color;
  }

  @media (min-width: $breakpoint-desktop) {
    border: 0;
    background-color: transparent;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  .link {
    color: $ptl-nav-link-color;
    padding: 0.8em $gutter;
    display: block;

    &:focus,
    &:active,
    &:visited {
      text-decoration: none;
      color: $ptl-nav-link-color;
      background-color: rgba(black, 0.04);
    }

    &:hover {
      text-decoration: none;
      color: $heading-color;
    }

    @media (min-width: $breakpoint-desktop) {
      border: 0;
      padding: 0.4em $desktop-gutter;

      &.active {
        font-weight: bold;
        color: $heading-color;
      }

      &:focus,
      &:active,
      &:visited {
        background-color: transparent;
      }
    }
  }

  .fa-angle-right {
    margin-right: 0;
    margin-top: 2px;
    float: right;
    transform: scale(1.4);

    @media (min-width: $breakpoint-desktop) {
      display: none;
    }
  }
}
