.month-picker {
  display: inline-flex;
  align-items: center;

  button {
    font-size: 220%;
    font-family: $heading-font;
    font-weight: bold;
    padding: 0 0.1em;
    color: tint($copy-color, 60%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    flex: 0 0 auto;

    &:nth-of-type(1) {
      // padding-left: 1em;
      // margin-left: 1em;
    }

    &:nth-of-type(2) {
      padding-right: 0.4em;
    }

    &:nth-of-type(3) {
      padding-left: 0.4em;
    }

    &:nth-of-type(4) {
      // padding-right: 1em;
      // margin-right: 1em;
    }

    &:hover {
      text-decoration: none;
      color: $link-active-color;
    }

    &:focus {
      text-decoration: none;
      outline: none;
    }
  }

  .inputs {
    display: inline-flex;

    .month {
      margin-right: 0.3em;
    }
  }
}

.month-picker__input {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.month-picker__input-label {
  font-size: 18px;
  color: white;
  padding: $gutter;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.month-picker__display {
  display: inline-flex;
  flex-direction: column;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  margin-right: 0.8em;
  font-family: $heading-font;
  text-transform: uppercase;
  color: rgba(white, 0.9);
}

.month-picker--dark button:hover {
  color: white;
}
