.notification-container {
  position: fixed;
  top: 1em;
  left: 1em;
  right: 1em;
  z-index: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  justify-content: center;
}

.notification-message {
  pointer-events: all;
  background: $alert-blue;
  color: white;
  margin-bottom: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  position: relative;
  width: 450px;
  max-width: 100%;
}

.notification-message--animated {
  animation:
    notification-hide 250ms cubic-bezier(.33859, -.42, 1, -.22),
    notification-shrink 250ms 250ms cubic-bezier(.5, 0, 0, 1)
  ;
}

.notification-message--incoming {
  animation: notification-show 180ms cubic-bezier(.175, .885, .32, 1.27499);
}

.notification-message--info    { background-color: $alert-blue; }
.notification-message--warning { background-color: $alert-amber; }
.notification-message--success { background-color: $alert-green; }
.notification-message--error   { background-color: $alert-red; }

.notification-message__icon, .notification-message__close-button {
  flex: 0 0 35px;
  background: rgba(0, 0, 0, 0.15);
  text-align: center;
  line-height: 35px;
  font-size: 110%;
  color: rgba(255, 255, 255, 0.8);
}

.notification-message__content {
  flex: 1 0;
  padding: 0.5em 1em;
}

.notification-message__close-button:hover {
  color: white;
  cursor: pointer;
}

.notification-message__countdown {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  animation: notification-countdown linear 1;
}

// Animations

@keyframes notification-show {
  0% {
    opacity: 0;
    transform: perspective(450px) translate(0, -30px) rotateX(90deg);
  }

  100% {
    opacity: 1;
    transform: perspective(450px) translate(0, 0) rotateX(0deg);
  }
}

@keyframes notification-shrink {
  0% {
    opacity: 0;
    max-height: 35px;
    margin-bottom: 0.5em;
    transform: scale(.8);
  }

  100% {
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
    transform: scale(.8);
  }
}

@keyframes notification-hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(.8);
  }
}

@keyframes notification-countdown {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
