.overlaid-dropdown {
  position: relative;
  display: inline-block;
}

.overlaid-dropdown__body {
  position: absolute;
  z-index: 1000;
  margin-top: 0.5em;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  min-width: 100%;
  border: 1px solid $border-color;
}

.overlaid-dropdown__body--hidden {
  visibility: hidden;
}

.overlaid-dropdown__option {
  padding: 0.5em 12px;
  cursor: pointer;
  font-size: 95%;

  &:hover {
    background-color: $secondary;
    color: white;
  }
}

.overlaid-dropdown__title {
  border-bottom: 1px solid $border-color;
  padding: 0.5em 12px;
  font-weight: bold;
  font-size: 80%;
  text-transform: uppercase;
  color: tint($copy-color, 30%);
  background-color: $off-white;
}
