.overlaid-dropdown {
  position: relative;
  display: inline-block;
}

.overlaid-dropdown__button {
  outline: 0;
}

.overlaid-dropdown__body {
  position: absolute;
  z-index: 1;
  margin-top: 0.5em;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  min-width: 100%;
  border: 1px solid $ptl-border-color;
}

.overlaid-dropdown__body--right {
  right: 0;
}

.overlaid-dropdown__body--hidden {
  visibility: hidden;
}

.overlaid-dropdown__option {
  padding: 0.5em 12px;
  cursor: pointer;
  font-size: 95%;

  &:hover {
    background-color: $ptl-secondary;
    color: white;

    // This seems to work to get the loading spinner to be white on hover
    * { stroke: white; }
  }
}

.overlaid-dropdown__title {
  border-bottom: 1px solid $ptl-border-color;
  padding: 0.5em 12px;
  font-weight: bold;
  font-size: 85%;
  text-transform: uppercase;
  color: tint($copy-color, 20%);
  background-color: $off-white;
}
