.month-picker {
  padding-left: $gutter;
  padding-right: $gutter;
  padding: 0 $gutter;
  display: inline-flex;

  button {
    font-size: 220%;
    font-family: $heading-font;
    font-weight: bold;
    padding: 0 0.15em;
    color: tint($copy-color, 60%);

    &:nth-of-type(1) {
      padding-left: $gutter;
      margin-left: (-$gutter);
    }

    &:nth-of-type(2) {
      padding-right: 0.45em;
    }

    &:nth-of-type(3) {
      padding-left: 0.45em;
    }

    &:nth-of-type(4) {
      padding-right: $gutter;
      margin-right: (-$gutter);
    }

    &:hover {
      text-decoration: none;
      color: $link-active-color;
    }

    &:focus {
      text-decoration: none;
      outline: none;
    }
  }
}
