.tabs {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0 0 0 20px;
}

@mixin tab-color($tab-color, $tab-text-color: white) {
  $tab-hover-color: tint($tab-color, 15%);
  $tab-active-color: tint($tab-color, 25%);

  > a {
    background-color: $tab-color;
    color: $tab-text-color;

    &::before {
      background-image: linear-gradient(to left top, $tab-color 50%, transparent 50%);
    }

    &::after {
      background-image: linear-gradient(to right top, $tab-color 50%, transparent 50%);
    }

    &:hover {
      background-color: $tab-hover-color;
    }

    &:hover::before {
      background-image: linear-gradient(to left top, $tab-hover-color 50%, transparent 50%);
    }

    &:hover::after {
      background-image: linear-gradient(to right top, $tab-hover-color 50%, transparent 50%);
    }

    &.active {
      background-color: $tab-active-color;
    }

    &.active::before {
      background-image: linear-gradient(to left top, $tab-active-color 50%, transparent 50%);
    }

    &.active::after {
      background-image: linear-gradient(to right top, $tab-active-color 50%, transparent 50%);
    }
  }
}

.tabs__group {
  display: flex;
  justify-content: flex-start;
  margin: 0 calc(20px + #{$desktop-gutter}) 0 0;
  padding: 0;
}

.tabs__tab {
  @include tab-color($ptl-secondary);

  $tab-top-padding: 0.55em;
  $tab-bottom-padding: 0.5em;

  list-style-type: none;
  position: relative;
  margin: 0 20px 0 0px;
  padding: 0;

  > a {
    cursor: pointer;
    padding: $tab-top-padding 1em $tab-bottom-padding;
    height: 100%;
    display: block;
    text-decoration: none;
    white-space: nowrap;

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 20px;
      background-size: cover;
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }

    &:hover::before {
      z-index: 50;
    }

    &:hover::after {
      z-index: 50;
    }

    &.active::before {
      z-index: 51;
    }

    &.active::after {
      z-index: 51;
    }
  }
}
