.data-table {
  margin: 1em 0;
  font-size: 90%;
  border-spacing: 0;
  border-collapse: collapse;

  $cell-padding: 0.5em 1em;

  td, th {
    padding: $cell-padding;
    border: 1px solid $whisp;
    position: relative;
    background-clip: padding-box; // show borders in Firefox
    white-space: nowrap;
  }

  td {
    background-color: white;
  }

  th,
  tfoot td {
    background-color: $off-white;
    text-align: left;
    cursor: default;
    // margin: 0 -10em -0.5em;

    // .helper {
    //   float: right;
    //   font-weight: normal;
    //   font-size: 90%;
    //   font-style: italic;
    //   color: $subdued;
    // }

    a {
      padding: 0 1em 0.5em;
      margin: 0 -1em -0.5em;
      display: block;

      &:hover {
        text-decoration: none;

        span {
          text-decoration: underline;
        }
      }
    }
  }

  .data-table__cell-cover {
    margin: 0;
    padding: $cell-padding;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 0;
  }
}

.data-table__cell--centered,
.data-table tfoot .data-table__cell--centered {
  text-align: center;
}

.data-table--sortable th {
  @include user-select(none);
}

.data-table--stretched {
  width: 100%;
}

.data-table__sorted-column-header a::after {
  content: '\25be';
  display: inline-block;
  margin-left: 0.5em;
  @include transition(all, 0.2s, linear);
}

.data-table__sorted-column-header--ascending a::after {
  @include transform(scaleY(-1));
}

.data-table__subheading-row th {
  background-color: mix($off-white, white);
  color: tint($copy-color, 50%);
  font-size: 85%;
  font-weight: normal;
}

.data-table__row--min-height {
  // font size * data-table adjustment * line-height + padding top and bottom
  height: calc(#{$font-size} * 0.9 * 1.4 + 2 * 0.5em);
}

.data-table__subdued-row {
  color: $subdued;

  button.subdued:not(:hover) {
    color: $subdued;
  }
}

.data-table__total-row,
.data-table__total-row td {
  border-top:    2px solid shade($border-color, 15%);
  border-bottom: 2px solid shade($border-color, 15%);
  font-weight: bold;
  background-color: $off-white;
}
