/******************************************************************
Site Name: Portal
Author: Carl Bennett <carlbennettnz@gmail.com>

Stylesheet: Validations
******************************************************************/

.validation-errors {
  @include span-columns(6);

  font-size: 85%;
  // margin-left: 20px;
  float: left;
  overflow: hidden;

  ul {
    margin: 0;
    padding: 7px 0;
    list-style-type: none;
  }

  li {
    background-image: url('/assets/images/icons/circle_delete.svg');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 0 2px;
    padding: 0 10px 0 26px;

    transform-origin: 0 0;
    /* TO-DO: Cross browser compatibility */
    -webkit-animation-name: validationErrorIn;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 80ms;
  }
}

@-webkit-keyframes validationErrorIn {
  0% {
    transform: scaleX(0.5);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
