<header class="article-header">
  <h1><span class="title-category">Service:</span> Notifications</h1>
<p>  notifications: Ember.inject.service(),</p>
  <pre>const error = get(this, 'notifications').error('Please check the guides and try again.');
  set(this, 'error', error);</pre>
  <button {{action 'notifyError'}}>notifyError</button>
  <button {{action 'notifysuccess'}}>notifysuccess</button>
  <button {{action 'notifyInfo'}}>notifyInfo</button>
  <button {{action 'notifyWarning'}}>notifyWarning</button>
</header>
