@import "bourbon";
$off-white: #f5f5f5;
$blue: #5597c4;
$border-color: #ccc;
$gutter: 25px;
$slider-width: 100px;
$callout-size: 30px;
$page-description-width: 430px;
@media print {
  body * {
    visibility: hidden;
  }
  .page * {
    visibility: visible;
  }
  .page {
    position: absolute;
    left: 0;
    top: 0;
  }
}

body {
  font: 16px/1.5 sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

a {
  color: $blue;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
}

.page-header {
  background-color: $blue;
  border-bottom: 3px solid shade($blue, 20%);
  padding: $gutter;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  h1 {
    font-size: 28px;
    margin: 0;
    line-height: 1.1;
  }
  h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.1;
    margin: 0.6em 0 0;
  }
}

.article-header {
  border-bottom: 1px solid $border-color;
  margin-bottom: 3em;
  padding: 1em 0;
  h1 {
    margin: 0;
  }
}

main {
  display: flex;
  background-color: $off-white;
  border-bottom: 1px solid $border-color;
}

code {
  background: $off-white;
  color: #222;
  display: inline-block;
  padding: 0.1em 0.4em;
  font-size: 90%;
  line-height: 1.5;
}

.sidebar {
  flex: 0 0 230px;
  padding: $gutter;
  background-color: $off-white;
  border-right: 1px solid $border-color;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 10;
  a {
    color: #444;
    text-decoration: none;
    &.active {
      font-weight: bold;
    }
  }
}

.construction {
  background: repeating-linear-gradient( -55deg, #FF8F65, #FF8F65 5px, #FFD865 5px, #FFD865 10px);
  width: 10px;
  height: 100%;
  float: left;
  margin-top: -$gutter;
  padding-bottom: 2*$gutter;
  margin-right: $gutter;
  margin-left: -$gutter;
}

.page {
  flex: 0.75;
  padding: 6*$gutter 2*$gutter;
  background-color: white;
}

.none {
  display: none;
}

.title-category {
  color: #999;
  font-weight: normal;
}

.page-toolkit {
  background-color: $off-white;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  position: absolute;
  font-size: 12px;
  padding: 15px;
  display: flex;

  .toolkit-header {
    flex-direction: row;
    h5 {
      font-size: 11px;
      padding: 0;
      margin: 0;
      padding: 5px;
    }
  }

  .toolkit-container {
    display: flex;
    flex-direction: row;
  }

  .toolkit-part-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 5px;
  }

  .checkbox {
    margin: 0;
    padding: 0;
    margin-top: -14px;
    align-self: flex-end;
  }

  h6 {
    font-size: 11px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    margin-right: 15px;
  }

  .divider {
    background-color: $border-color;
    margin-left: 10px;
    margin-right: 10px;
    width: 1px;
    flex: 1;
  }

  .colorBox {
    width: 110px;
    height: 80px;
    background-color: white;
    text-align: center;
  }

  .rgbStatus,
  .hexStatus {
    border: 0;
    font-weight: bold;
    background-color: transparent;
    color: white;
    mix-blend-mode: difference;
    width: 100px;
  }

  .sliderBoxRange {
    width: 120px;
  }

  .sliderBoxText {
    width: 50px;
    padding-right: 15px;
  }

  .slider {
    width: $slider-width;
    padding: 0;
    height: 15px;
  }

  .sliderText {
    width: 50px;
    height: 15px;
    border: 0;
    margin-bottom: 5px;
  }

  .hexInput {
    width: 100px;
    height: 15px;
    border: 0;
  }

  .decafe {
    position: absolute;
    cursor: help;
    opacity: 0;
    bottom: 0;
    right: 0;
  }

  .printButton {
    width: 30px;
    margin-top: 5px;
  }
}

.out {
  right: 0 !important;
}

.page-description {
  border: 1px solid $border-color;
  background-color: $off-white;
  position: absolute;
  width: $page-description-width;
  z-index: 1;
  padding: 15px;
  top: 275px;
  right: -$page-description-width+-32;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  .content {
    max-height: 600px;
    font-size: 13px;
    background-color: white;
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;

    pre {
      white-space: pre-wrap;
      background: $off-white;
      font-size: 9px;
    }

    .code {
      background-color: white;
    }
  }

  .callout {
    width: $callout-size;
    height: $callout-size;
    position: absolute;
    left: -1-$callout-size; //border compensation
    margin-top: -1px;
    top: 0;
    cursor: grabbing;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    line-height: 30px;
    border-radius: 3px 0px 0px 3px;
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    background-color: $off-white;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    background: repeating-linear-gradient( -55deg, #FF8F65, #FF8F65 5px, #FFD865 5px, #FFD865 10px);
  }

  .checkbox {
    opacity: 0;
    width: $callout-size;
    height: $callout-size;
    position: absolute;
    left: 0;
  }
}

/******************************************************************

  Radio Toggle

******************************************************************/

.radio-wrapper {
  background-color: #f7f7f7;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  padding-right: 1px;
  float: left;
}

.checkbox-box {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 14px;
  font-size: 14px;
  color: black;
  label {
    cursor: pointer;
    width: 100%;
    text-align: center;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  input[type="radio"]:checked + label {
    background-color: #37a;
    color: white;
  }
}

.field {
    visibility: hidden;
    display: none;
}
