.shake {
  animation: shake 150ms ease-in-out 3;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-8px);
  }

  75% {
    transform: translateX(8px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes loadingCircle {
  0% {
    opacity: 1;
    r: 0;
  }

  25% {
    opacity: 0.9;
  }

  60% {
    opacity: 0;
    r: 44;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*********************
NOTIFICATIONS
*********************/

// Show

@keyframes notification-show {
  0% {
    opacity: 0;
  }

  100% {
    transform: perspective(450px) translate(0, 0) rotateX(0deg);
    opacity: 1;
  }
}

// Shrink

@keyframes notification-shrink {
  0% {
    transform: scale(.8);
    opacity: 0;
    max-height: 35px;
    margin-bottom: 0.5em;
  }

  100% {
    transform: scale(.8);
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
  }
}

// Hide

@keyframes notification-hide {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(.8);
    opacity: 0;
  }
}

// Countdown

@keyframes notification-countdown {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
