// Internet Explorer
html.ie-7, html.ie-8, html.ie-9, html.ie-10 {
  .old-ie-only {
    display: block;
  }
}

.old-ie-only {
  display: none;
}

// display: flex causes crazy layout issues in IE11
html.ie-11 body.page > :not(.draggable-map).ember-view,
html.ie-11 .app-container {
  display: block;
}

// Prevents a weird block of colour from appearing on the left of the nav bar
html.ie-11 .dashboard {
  background-color: transparent;
}

html.ie-11 .right-options {
  flex: none!important;
}

html.ie-11 .sidebar-page__sidebar > .sticky-top,
html.ie-11 .sidebar-page__sidebar--collapsed > .sticky-top {
  margin-top: -18px;
}

// Prevents clear buttons at the end of inputs in IE
html.ie-11 input::-ms-clear {
  display: none;
}

// Safari
.safari .nav-bar.sticky-top .tabs a {
  padding: 0.45em 1em 0.75em;
}

@media (max-width: $breakpoint-desktop - 1px) {
  .safari .ember-modal-dialog {
    margin-bottom: 70px;
    max-height: calc(100vh - #{$gutter-string} - 70px);
  }
}
