html.ie-7, html.ie-8, html.ie-9, html.ie-10 {
  .old-ie-only {
    display: block;
  }
}

.old-ie-only {
  display: none;
}

// display: flex causes crazy layout issues in IE11
html.ie-11 body > .ember-view {
  display: block;
}
