.page-header,
.sidebar-page__sidebar,
.sidebar-page__sidebar--collapsed,
.nav-bar {
  display: none !important;
}

.sidebar-page__content {
  max-width: none;
}

.page, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: black;
}

.link {
  text-decoration: underline;
}

.do-not-print {
  display: none;
}
