.page-header,
.sidebar,
.page-toolbar,
.page-toolbar *,
.page-footer {
  display: none !important;
}

.header {
  display: none !important;
}

body, h1, h2, h3, h4, h5, h6 {
  color: black;
}

a {
  text-decoration: underline;
}

.do-not-print {
  display: none;
}
