/******************************************************************
Site Name: Portal
Author: Carl Bennett <carlbennettnz@gmail.com>

Stylesheet: Settings
******************************************************************/

// Page width
$max-width: 960px;
$column:    67.75px;
$gw-column: $column;
$gutter:    25px;
$gw-gutter: $gutter;

// Break Points
$bp-wide: 1300px;

// Typography
$root-font-size: 14px;
