/*******************
FONTS
*******************/

// Font stacks
$heading-font:      "proxima-nova", "Proxima Nova", sans-serif;
$copy-font:         sans-serif;
$secondary-font:    "proxima-nova", "Proxima Nova", sans-serif;

/*******************
GENERIC
*******************/

// Text alignment
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Placeholders
.placeholder {
  color: $subdued;
  font-style: italic;
}

// Subtext
.subtext {
  font-size: 90%;
}

/*******************
HEADINGS
*******************/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $heading-font;
  font-weight: 700;
  text-rendering: optimizelegibility;
  color: $heading-color;
  margin: 0 0 0.5em;

  a, a:visited, a.active {
    // Keep things consistent
    text-decoration: none;
    color: inherit;
  }

  &:first-child {
    margin-top: 0;
  }
}

h1, .h1 { font-size: 200%; }
h2, .h2 { font-size: 180%; }
h3, .h3 { font-size: 150%; }
// h4, .h4 {}
// h5, .h5 {}
// h6, .h6 {}

.subtitle {
  color: $subdued;
  font-weight: normal;
  font-size: 130%;
  margin-top: -0.6em;
}

main > header {
  h1, h2, h3, h4, h5, h6 {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*******************
COPY
*******************/

// Base
body {
  font-family: $copy-font;
  font-size: $root-font-size;
  line-height: 1.5;
  color: $copy-color;
  word-wrap: break-word;
}
// p {}

// Lists
// ul, ol {}
li > ul,
li > ol {
  margin-top: 0;
  margin-bottom: 0;
}
// li {}
// dl {}
dt {
  font-weight: bold;
}

dd {
  margin: 0 0 $gutter;
}

// Quotes
// blockquote {}
// q {}

header > h1:first-child:last-child,
header > h2:first-child:last-child,
header > h3:first-child:last-child,
header > h4:first-child:last-child,
header > h5:first-child:last-child,
header > h6:first-child:last-child {
  margin-bottom: 0;
}

/*******************
LINKS
*******************/

a, a:visited {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }

  &:active {
    color: $link-active-color;
  }

  // {{link-to}}s that have been clicked
  &.active {
    outline: none;
  }
}
