$heading-font:      "proxima-nova", "Proxima Nova", sans-serif;
$copy-font:         sans-serif;
$secondary-font:    "proxima-nova", "Proxima Nova", sans-serif;

$mobile-font-size: 13px;
$desktop-font-size: 14px;

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font;
  font-weight: 700;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
  color: $heading-color;
  margin: 0 0 0.5em;

  a, a:visited, a.active {
    // Keep things consistent
    text-decoration: none;
    color: inherit;
  }
}

.h1 { font-size: 200%; }
.h2 { font-size: 160%; }
.h3 { font-size: 140%; }
.h4 { font-size: 120%; font-weight: normal; }
.h5 { font-size: 110%; font-weight: normal; }
.h6 { font-size: 100%; font-weight: normal; }

.h1--inverted,
.h2--inverted,
.h3--inverted,
.h4--inverted,
.h5--inverted,
.h6--inverted {
  color: white;
  font-weight: normal;
}

.h1--subtitle,
.h2--subtitle,
.h3--subtitle,
.h4--subtitle,
.h5--subtitle,
.h6--subtitle {
  color: $subdued;
  font-weight: normal;
  margin-top: -0.6em;
}

.h1--inverted.h1--subtitle,
.h2--inverted.h2--subtitle,
.h3--inverted.h3--subtitle,
.h4--inverted.h4--subtitle,
.h5--inverted.h5--subtitle,
.h6--inverted.h6--subtitle {
  color: rgba(white, 0.6);
}

.page {
  font-family: $copy-font;
  font-size: $mobile-font-size;
  line-height: 1.5;
  color: $copy-color;
  word-wrap: break-word;

  @media (min-width: $breakpoint-desktop) {
    font-size: $desktop-font-size;
  }
}

.link, .link:visited {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    color: $link-hover-color;
    outline: none;
    text-decoration: underline;
  }

  // Fix inconsistency between Chrome and other browsers
  &:focus {
    outline: thin dotted;
  }
}
