{{#each checkboxes as |checkbox|}}
  {{#if hasBlock}}
    {{yield checkbox.label checkbox.isSelected checkbox.value}}
  {{else}}
    <label>
      {{input type="checkbox" class="checkbox" checked=checkbox.isSelected disabled=disabled}}
      {{checkbox.label}}
    </label>
  {{/if}}
{{/each}}