<div class="select-box-replacement select-box-replacement--stretched date-input__display" {{action (toggle 'isActive' this)}}>
  {{if date (moment-format date format) placeholder}}
</div>

{{#if isActive}}
  <div class="date-input__overlay" {{action (toggle 'isActive' this)}}></div>

  {{date-picker
    date=date
    select=(action 'selectAndDeactivate')
    class="date-input__picker date-picker--stretched"
  }}
{{/if}}
