<div class={{if description 'page-description out' 'page-description'}}>
  <h1>{{title}}</h1>
  <div class='content'>
    {{yield}}
  </div>
  <div class='callout'>
    {{input type='checkbox' checked=description class='checkbox'}}
    x
  </div>
</div>
