<div class="radio-wrapper">
  <div class="checkbox-box">
    {{#each options as |option|}}
      {{radio-button name=generator checked=selected value=option.value class='field' id=option.value}}
      <label for={{option.value}}>{{option.label}}</label>
    {{/each}}
  </div>
</div>
