<div class="radio-wrapper">
  <span class="overlay background"></span>
  <span class="overlay"></span>
  <div class="checkbox-box">
    {{#each options as |option|}}
      {{radio-button name='field' checked=selected value=option.value class='field' id=option.value}}
      <label for={{option.value}}>{{option.label}}</label>
    {{/each}}
  </div>
  <span class="overlay"></span>
</div>
