{{#each options as |option i|}}
  {{radio-button
    name=(concat 'radio-slider-option-' elementId '-' i)
    checked=selected
    value=option.value
    class='field'
    id=(concat 'radio-slider-option-' elementId '-' i)}}
  <label for="{{concat 'radio-slider-option-' elementId '-' i}}">{{option.label}}</label>
{{/each}}
