<header class="article-header">
  <h1><span class="title-category">Helper:</span> Math</h1>
</header>

<div class="example">
  {{input value=operand1}}
  {{input value=operator}}
  {{input value=operand2}}
  {{input readonly=true value = (math operand1 operator operand2)}}
</div>
