<header class="article-header">
  <h1><span class="title-category">Component:</span> Active Table</h1>
</header>

<p>Like a normal table, but the columns are sortable.</p>

{{#active-table columns=tableColumns sortedBy=sort}}
  {{#each tableContent as |person|}}
    <tr>
      <td>{{person.letters}}</td>
      <td>{{person.dob}}</td>
      <td>{{person.numbers}}</td>
    </tr>
  {{/each}}
{{/active-table}}
