<header class="article-header">
  <h1>Charts</h1>
</header>

<h2><span class="title-category">Component:</span> Data Table</h2>

{{charts/data-table series=series thisData=data metrics=metrics period=period}}

<h2><span class="title-category">Component:</span> Line Chart</h2>

{{charts/line-chart series=series thisData=data metrics=metrics period=period}}

<h2><span class="title-category">Component:</span> Pie Chart</h2>

{{charts/pie-chart thisData=data metrics=metrics period=period}}
