<header class="article-header">
  <h1>Charts</h1>
</header>

<div class='component-box'>
<h2><span class="title-category">Component:</span> Data Table</h2>
  {{charts/data-table series=series thisData=data metrics=metrics2 period=period}}
  <p>{charts/data-table series=series thisData=data metrics=metrics2 period=period}</p>
</div>

<div class='component-box'>
<h2><span class="title-category">Component:</span> Line Chart</h2>
{{charts/line-chart series=series thisData=data metrics=metrics1 period=period}}
<p>"{ {charts/line-chart series=series thisData=data metrics=metrics1 period=period} }"</p>
</div>

<div class='component-box'>
<h2><span class="title-category">Component:</span> Pie Chart</h2>
{{charts/pie-chart series=series thisData=data metrics=metrics2 period=period}}
<p>"{ {charts/pie-chart series=series thisData=data metrics=metrics2 period=period} }"</p>
</div>

<h1>Data</h1>
<h2>Metrics 1:</h2>
<textarea style='width:600px'>metricsmetricsmetrics metricsmetricsmetrics metricsmetricsmetrics metricsmetricsmetrics v  metricsmetricsmetrics</textarea>
<h2>Metrics 2:</h2>
<textarea style='width:600px'>metricsmetricsmetrics metricsmetricsmetrics metricsmetricsmetrics 2 metricsmetricsmetrics</textarea>
<h2>Series:</h2>
{{input value=series}}
<h2>Period:</h2>
<textarea>blah blah blah</textarea>
<h2>data:</h2>
<textarea>blah blah blah</textarea>


{{#page-description title='Charts'}}
  <h1>Data Chart</h1>
  <p>Data charts take the normal chart input and format into a table</p>
  <h1>Line Chart</h1>
  <p>Line charts take the normal chart input and format into a pretty line chart with ten colours</p>
  <h1>Pie Chart</h1>
  <p>pie charts take the normal chart input and format into a pie chart with up to ten colours, also automatically catches values of the wrong polarity or empty values</p>
{{/page-description}}
