<header class="article-header">
  <h1><span class="title-category">Component:</span> Checkbox List</h1>
</header>
{{#page-description title='bleh'}}
  <h1>werwerwe</h1>
  <p>fdsfdwwerwerwerwersfsdfds</p>
{{/page-description}}

{{!-- example here --}}
{{#checkbox-list options=accounts.otherData labelProperty='name' selection=module.accounts as |label isSelected account|}}
  <label class="depth-{{account.depth}} {{if account.isHeading 'heading'}}">
    {{input type="checkbox" checked=isSelected}}
    {{label}}
  </label>
{{/checkbox-list}}
