<header class="article-header">
  <h1><span class="title-category">Component:</span> Checkbox List</h1>
</header>
{{#page-description title='bleh'}}
  <h1>werwerwe</h1>
  <p>fdsfdwwerwerwerwersfsdfds</p>
{{/page-description}}

{{!-- example here --}}
