Here is a cool new button!

{{#combo-button
  buttonText='Cool button'
  title='Section Title'
}}
  <div class="overlaid-dropdown__option" {{action 'alert'}}>Click me and I'll alert</div>
  <button>I'm a plain button element</button>
  <div>I'm a div element</div>
{{/combo-button}}
