<header class="article-header">
  <h1><span class="title-category">Component:</span> Date Picker</h1>
</header>

<p>
  Usage: <code>\{{date-picker date=date select=(action (mut date))}}</code> where <code>date</code> is of type <code>Date</code>.
</p>

{{date-picker date=date select=(action (mut date))}}
