<header class="article-header">
  <h1><span class="title-category">Component:</span> Date Picker</h1>
</header>

<p>
  Usage: <code>\{{date-picker selection=selection select=(action 'changeDate')}}</code><br>
  Selection: <code>{ day: 1, month: 0, year: 2017 }</code> (note the zero-based month index)
</p>

{{date-picker selection=selection select=(action 'changeDate')}}
