<header class="article-header">
  <h1>File Inputs</h1>
</header>

<h2><span class="title-category">Component:</span> General</h2>
{{file-inputs/general file=importData accept='.csv,.txt'}}


<h2><span class="title-category">Component:</span> CSV</h2>
{{file-inputs/csv file=importData accept='.csv,.txt'}}

<h2><span class="title-category">Component:</span> Text</h2>
{{file-inputs/text file=importData accept='.csv,.txt'}}
