<header class="article-header">
  <h1>File Inputs</h1>
</header>

<h2><span class="title-category">Component:</span> General</h2>

{{!-- example here --}}
{{input type=text value='browse'}}
<button>Inputs</button>
<h2><span class="title-category">Component:</span> CSV</h2>

{{!-- example here --}}
{{input type=text value='browse'}}
<button>Inputs</button>
<h2><span class="title-category">Component:</span> Text</h2>

{{!-- example here --}}
{{input type=text value='browse'}}
<button>Inputs</button>
