<header class="article-header">
  <h1><span class="title-category">Component:</span> Input Auto Complete</h1>
</header>

<div class="example">
  <div>
    {{input-auto-complete
      availableTags=availableTags
      value=value
    }}
  </div>
  <br/>
  <br/>
  <p>The 'availableTags' prop is an array of names, in this case, programming languages. Selecting a value from the list sets the inputs value.</p>
</div>
