<header class="article-header">
  <h1><span class="title-category">Component:</span> Loading Icon</h1>
</header>

<h2>Ripple</h2>

<div class="example">
  {{loading-icon 'ripple'}}
</div>

<h2>Spinner</h2>

<div class="example">
  {{loading-icon 'spinner'}}
</div>
