<header class="article-header">
  <h1><span class="title-category">Component:</span> Loading Button</h1>
</header>

{{loading-button action='save' isLoading=isSaving isDisabled=false}}

<button {{action 'reset'}}>Reset</button>

{{buttonCode}}
