<header class="article-header">
  <h1><span class="title-category">Component:</span> Month Picker</h1>
</header>

<p>For consistency, try to use this by default whenever you need to allow the user to select a month.</p>

{{month-picker period='2016-03'}}
