<header class="article-header">
  <h1><span class="title-category">Component:</span> Overlaid Dropdown</h1>
</header>

Usage:
<br>
<code>
  <pre>
    \{{#overlaid-dropdown
      buttonClasses='button'
      buttonText='Click Me'
      buttonIcon='download'
      title='Dropdown Options'
    }}
      &lt;div class="overlaid-dropdown__option" \{{action 'alertAction'}}>Dropdown Option&lt;/div>
      &lt;div>Some Other Content&lt;/div>
    \{{/overlaid-dropdown}}
  </pre>
</code>

<br>
<br>
Example:
<br>

{{#overlaid-dropdown
  buttonClasses='button'
  buttonIcon='download'
  buttonText='Click Me'
  title='Dropdown Options'
}}
  <div class="overlaid-dropdown__option" {{action 'alertAction'}}>Dropdown Option</div>
  <div>Some Other Content</div>
{{/overlaid-dropdown}}

<br>
<br>

Align right:
<br>
<code>
  <pre>
    \{{#overlaid-dropdown
      buttonClasses='button'
      buttonText='Click Me'
      align='right'
      title='Dropdown Options'
    }}
      &lt;div class="overlaid-dropdown__option" \{{action 'alertAction'}}>Dropdown Option&lt;/div>
    \{{/overlaid-dropdown}}
  </pre>
</code>
<br>
<br>
{{#overlaid-dropdown
  buttonClasses='button'
  buttonText='Click Me'
  align='right'
  title='Dropdown Options'
}}
  <div class="overlaid-dropdown__option" {{action 'alertAction'}}>Dropdown Option</div>
{{/overlaid-dropdown}}

<br>
<br>
Plain Component:
<br>

{{#overlaid-dropdown}}
  Content
{{/overlaid-dropdown}}
