<header class="article-header">
  <h1><span class="title-category">Component:</span> Sortable List</h1>
</header>

<div class="example">
  {{sortable-list content=content property='name' class="block"}}
  \{{sortable-list content=content property='name' class="block"}}
  <p>Content is an array of objects where 'name' is the attribute we want to be visible ie   { name: 'john', value: '1' },class is just a class passed to the objects.</p>
</div>
