<header class="article-header">
  <h1><span class="title-category">Component:</span> Untethered Modal Dialog</h1>
</header>

<div class="example">
  \{{#untethered-modal-dialog translucentOverlay=true close='toggleIsConfirmingDelete'}}
  <br>
    p>Are you sure you want to delete this user? This action cannot be undone./p
    <br>
    b>utton class="pull-right delete" \{{action 'delete'}}Delete/button
    <br>
    b>utton class="pull-right plain" \{{action 'toggleIsConfirmingDelete'}}Cancel/button
    <br>
  \{{/untethered-modal-dialog}}
</div>
