<header class="article-header">
  <h1><span class="title-category">Component:</span> Untethered Modal Dialog</h1>
</header>
{{#if testing}}
  <div class="example">
    {{#untethered-modal-dialog translucentOverlay=true close='toggleIsConfirmingDelete'}}
    <br>
      <p>Are you sure you want to test untethered-modal-dialog? This action cannot be undone.</p>
      <button class="pull-right delete" {{action 'test'}}>Test</button>
      <button class="pull-right plain" {{action 'toggleIsConfirmingTest'}}>Cancel</button>
    {{/untethered-modal-dialog}}
  </div>
{{else}}
  <button class="plain" {{action 'toggleIsConfirmingTest'}}>Test</button>
{{/if}}
{{#if works}}
  <h1>IT WORKS!!</h1>
{{/if}}
