.date-input {
  width: 234px;
  font-size: $font-size;
  position: relative;
}

.date-input__picker {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: -1px;
  z-index: 150;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.date-input__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
