.select-box-replacement {
  border: 1px solid $border-color;
  background-color: $off-white;
  padding: 0.5em 0.8em;
  color: tint($copy-color, 20%);
  display: inline-block;
  position: relative;
  min-width: 100px;

  &:hover {
    cursor: pointer;
    background-color: shade($off-white, 2%);
    border-color: shade($border-color, 5%);
    color: $copy-color;
  }

  &::after {
    content: '▾';
    float: right;
  }
}

.select-box-replacement--date-input {
  color: $copy-color;
  font-size: inherit;
  font-family: $copy-font;
  &::-webkit-clear-button,
  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

.select-box-replacement__select-box {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 0;
  margin: 0;
  cursor: pointer;
}

.select-box-replacement--stretched {
  width: 100%;
}

.select-box-replacement--large {
  font-size: 16px;
  padding: 0.4em 0.8em;
}

.select-box-replacement__placeholder {
  color: $subdued;
  font-style: italic;
  font-weight: normal;
}
