.tabular-form-controls {
  display: table;
  border-collapse: separate;
  border-spacing: 1em 0.5em;
  margin: -0.5em -1em;
}

.tabular-form-controls--stretched {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.tabular-form-controls__row {
  display: table-row;
  width: 100%;
}

.tabular-form-controls__cell {
  display: table-cell;
  vertical-align: top;
}

.tabular-form-controls__cell--label {
  font-weight: bold;

  // To match text inputs
  line-height: 1.4;
  padding: 0.5em 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.tabular-form-controls__cell--button {
  vertical-align: middle;
}

.tabular-form-controls__cell--grow {
  width: 100%;
}
