.text-input {
  width: 200px;
  border: 1px solid #ccc;
  color: $copy-color;
  font-size: inherit;
  font-family: $copy-font;
  line-height: 1.4;
  padding: 0.5em 0.7em;

  &:focus {
    outline: none;
    border-color: shade($border-color, 25%);
  }

  &:hover {
    background-color: $off-white;
  }

  &:disabled {
    background-color: tint(black, 95%);
    color: tint(black, 45%);
  }
}

.text-input--fix-right-margin-bug {
  margin-right: -1em;
}

.text-input--wide {
  width: 300px;
}
